<h1>some data</h1>

<div>
  <p>
    Title: <%= @article.title %>
  </p>

  <p>
    Author: <%= @article.author %>
  </p>

  <p>
    Description: <%= @article.description %>
  </p>
</div>

<%= link_to "Edit", edit_article_path(@article) %> |
<%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to "Back", articles_path %>